!!!
html(lang="en")
    head
        title= "NodeScrabble"
        script(src='/draganddrop.js')
        script(src='/Util.js')
        script(src='/game.js')
        script(src='/Player.js')
        script(src='/socket.io/socket.io.js')

        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #chooseGame
        #inGame

