extends layout

block content
  h1= title
  p Welcome to #{title}

  div(id="response")= response

  form(name="input", action="/socket", method="post")
      p
        key Message
              input(type="text", name="message")

      p
        key Data
            textarea(type="text", name="jsonData")
      p
        input(type="submit", value="Submit")