body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

sub {
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
    vertical-align:text-bottom; font-size:50%;
}

[draggable=true]:hover {
    cursor: pointer; cursor: hand;
}

[draggable=true] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

td {
    text-align: center;
    width: 30px;
    height: 30px;
    border:2px solid black;
    color:#ffffff;
}

td.type1 {
    background-color: #1b8fa1;
}

td.type2 {
    background-color: #9f4718;
}

td.type3 {
    background-color: #76a86b;
}

td.type4 {
    background-color: #cf8025;
}

td.center {
    background-color:  #664466;
}

td.regular {
    background-color: #595959;
}

table#gameTable {
    background-color:#484e52;
    color:#ffffff;
    font-weight:bold;
    border:2px solid black;
}

#tiles {
    background-color:#484e52;
    color:#ffffff;
    font-weight:bold;
    border:2px solid black;
    height: 30px;
    width: 240px;
}

td .tile {
    margin: 0 !important;
}

.tile, .move-tile, .played-tile {
    float: left;
    width: 27px;
    height: 27px;
    background-color: #FFF;
    margin-right: 1px;
    color: #000;
    text-align: center;
}